.owl_wrapper .owl-item {
  opacity: 0;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform: all .2s;
  z-index: 1; }

.owl_wrapper .active {
  opacity: 0.5; }

.owl_wrapper .active.middle_beside {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  opacity: 0.8;
  margin: 0 -1%;
  z-index: 2; }

.owl_wrapper .active.middle {
  -webkit-transform: scale(1);
  transform: scale(1);
  -ms-transform: scale(1);
  opacity: 1;
  z-index: 3; }

.owl_wrapper .active.next_to_mid {
  margin-left: -1%; }

.owl_wrapper .active.prev_to_mid {
  margin-right: -1%; }
